.order {
	width: 100%;
	flex: 1 0 auto;

	.container {
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 15px;

		> {
			h1 {
				margin: 70px 0;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;

			.left {
				flex: 1;
				display: flex;
			}

			.right {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}
