.order {
	width: 100%;
	flex: 1 0 auto;

	.container {
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 15px;

		> {
			h1 {
				margin: 70px 0;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;

			.left {
				flex: 1;
				display: flex;

				.form {
					width: 100%;
					padding: 20px;
					display: flex;
					flex-direction: column;
					gap: 81px;

					.data {
						display: flex;
						flex-direction: column;
						gap: 35px;
					}
				}
			}

			.right {
				flex: 1;
			}
		}
	}
}
