@import './../styles.scss';

.main {
	@include page;

	.container {
		@include container;
		position: relative;

		> {
			h1 {
				margin-top: 70px;
				margin-bottom: 70px;
			}
		}

		.similar {
			margin-top: 130px;

			> {
				h2 {
					margin-bottom: 70px;
				}
			}

			.list {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				gap: 30px;
			}
		}
	}
}
